@import "src/sass/app";

:host {

  display: block;
  width: 100%;
  height: 100%;
}

::ng-deep {

  body {

    display: block;
    width: 100%;
    height: 100%;
  }

}

::ng-deep {
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 2px;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: white;
  }
}
